{% extends './base.html' %}
{% load static %}

{% block title %}GreenCart - Add Product{% endblock %}

{% block content %}
<div class="add-product-section">
    <h2>Product Image</h2>
    <form method="post" enctype="multipart/form-data"> {% csrf_token %}
        <div class="image-upload-area">
            <div class="upload-box">
                <label for="{{ form.image1.id_for_label }}">
                    <img src="{% static 'img/upload_icon.png' %}" alt="Upload Icon">
                    <span>Upload</span>
                </label>
                {{ form.image1 }}
            </div>
            <div class="upload-box">
                <label for="{{ form.image2.id_for_label }}">
                    <img src="{% static 'img/upload_icon.png' %}" alt="Upload Icon">
                    <span>Upload</span>
                </label>
                {{ form.image2 }}
            </div>
            <div class="upload-box">
                <label for="{{ form.image3.id_for_label }}">
                    <img src="{% static 'img/upload_icon.png' %}" alt="Upload Icon">
                    <span>Upload</span>
                </label>
                {{ form.image3 }}
            </div>
            <div class="upload-box">
                <label for="{{ form.image4.id_for_label }}">
                    <img src="{% static 'img/upload_icon.png' %}" alt="Upload Icon">
                    <span>Upload</span>
                </label>
                {{ form.image4 }}
            </div>
        </div>
        
        {% for field in form %}
            {% if field.name != 'image1' and field.name != 'image2' and field.name != 'image3' and field.name != 'image4' and field.name != 'in_stock' %}
                <div class="form-group {% if field.name == 'product_price' or field.name == 'offer_price' %}price-group-item{% endif %}">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                        <p class="errorlist">{{ error }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endfor %}

{% comment %}         <div class="form-group price-group">
            <div>
                <label for="{{ form.product_price.id_for_label }}">Product Price</label>
                {{ form.product_price }}
            </div>
            <div>
                <label for="{{ form.offer_price.id_for_label }}">Offer Price</label>
                {{ form.offer_price }}
            </div>
        </div> {% endcomment %}

        <button class="add-btn" type="submit">ADD</button>
    </form>
</div>
{% endblock %}