{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Delivery_Dashnoard{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'seller.css' %}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <div class="container">
        <aside class="sidebar">
            <div class="logo">
              <img src="{% static 'images/favicon.png' %}" alt="Food Delivery Logo">
                             <span>Food Delivery Platform</span>
            </div>
            <nav class="navigation">
                <ul>
                    <li>
                        <a href="{% url 'seller_dashboard' %}" id="dashboard-link">
                            <i class="fa-solid fa-gauge-high"></i>
                              Dashboard
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'product_list' %}" id="add-product-link">
                            <i class="fa-solid fa-utensils"></i>
                            Products
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'orders' %}active{% endif %}">
                         <a href="{% url 'place_order' %}" id="orders-link">
                            <i class="fa-solid fa-list-check"></i>
                            Orders
                        </a>
                    </li>
                    <li class="{% if request.resolver_match.url_name == 'add_Restaurant' %}active{% endif %}">
                        <a href="{% url 'seller_restaurants' %}" id="add-restaurant-link">
                            <i class="fa-solid fa-building"></i>
                            Restaurant
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>

        <main class="main-content">
            <header class="top-bar">
               <p> Hi, {% if user.is_authenticated %}{{ user.username }}{% else %}Guest{% endif %}! </p>
                <button class="logout-btn"><a href="{% url 'logout' %}">Logout</a> </button>
            </header>

            <section class="main-section">
                {% block content %}
                {% endblock %}
            </section>
        </main>
    </div>
</body>
</html>