{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Food Delivery</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'popularResturants.css' %}">
</head>

<body>

  <!-- Navbar -->
  <nav class="navbar">
    <div class="logo">Food Delivery</div>
    <div class="nav-links">
      <a href="{% url 'add_product'%}" class="nav-button">Seller Dashboard</a>
      <a href="#">Home</a>
      <a href="#">Restaurant</a>
      <a href="{% url 'product'%}">Food</a>
      <a href="#">Contact Us</a>
    </div>
    <div class="search-box">
        <input type="text" placeholder="Search products"/>
    </div>
    
    <div class="cart-login">
      <span>🛒<sup>0</sup></span>
      <a href= "{% url 'login' %}"class="login-btn">Login</a>
     
    </div>
  </nav>



  <!-- chanole  Section -->
  


  <section class="organic-section">
    <h2 class="section-title">2000 Hebesha</h2>
    <div class="product-grid">
      <div class="product-card">
        <img src="{% static 'images/Foods/tibs.jpg'%}" alt="tibs">
        <p class="category">spicy tibs with injera</p>
        <h3 class="name">Tibs</h3>
        <p class="rating">★★★★★ (4)</p>
        <p class="price"><span class="current">35</span> <span class="old">40</span></p>
        <button class="add-btn">Add</button>
      </div>

      <div class="product-card">
        <img src="images/Foods/firfir.jpg" alt="firfir">
        <p class="category">  </p>
        <h3 class="name">Tomato 1 kg</h3>
        <p class="rating">★★★★★ (4)</p>
        <p class="price"><span class="current">$28</span> <span class="old">$30</span></p>
        <button class="add-btn">Add</button>
      </div>

      <div class="product-card">
        <img src="images/carrot.png" alt="Carrot">
        <p class="category">Vegetables</p>
        <h3 class="name">Carrot 500g</h3>
        <p class="rating">★★★★★ (4)</p>
        <p class="price"><span class="current">$44</span> <span class="old">$50</span></p>
        <button class="add-btn">Add</button>
      </div>

      <div class="product-card">
        <img src="images/spinach.png" alt="Spinach">
        <p class="category">Vegetables</p>
        <h3 class="name">Spinach 500g</h3>
        <p class="rating">★★★★★ (4)</p>
        <p class="price"><span class="current">$15</span> <span class="old">$18</span></p>
        <button class="add-btn">Add</button>
      </div>

      <div class="product-card">
        <img src="images/onion.png" alt="Onion">
        <p class="category">Vegetables</p>
        <h3 class="name">Onion 500g</h3>
        <p class="rating">★★★★★ (4)</p>
        <p class="price"><span class="current">$45</span> <span class="old">$50</span></p>
        <button class="add-btn">Add</button>
      </div>
    </div>
  </section>

















  
<!-- Footer -->
<footer class="footer">
  <div class="footer-container">

    <div class="footer-column company">
      <h3>Food Delivery</h3>
      <p class="tagline">"We deliver fresh Foods straight to your door."</p>
      <p class="desc">Trusted by thousands to make delivery easy and affordable.</p>
    </div>

    <div class="footer-column links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="#">Home</a></li>
         <li><a href="#">Food</a></li>
        <li><a href="#">Restourant</a></li>
        <li><a href="#">Contact Us</a></li>
       
        <li><a href="#"></a></li>
      </ul>
    </div>

    <div class="footer-column help">
      <h4>Need Help?</h4>
      <ul>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Return & Refund Policy</a></li>
        <li><a href="#">Payment Methods</a></li>
        <li><a href="#">Track your Order</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

   <div class="social-links">
  <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
</div>



  </div>

  <div class="footer-bottom">
    <p> &copy; 2025 Food Delivery. All rights reserved.</p>
  </div>
</footer>
</body>

</html>















  