{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Food Delivery App</title>
  <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <link rel="stylesheet" href="{% static 'Food.css' %}">
</head>

<body>

  <!-- Navbar -->
   <nav class="navbar">
    <div class="logo">Food Delivery</div>
    <div class="nav-links">
      <a href="{%url 'home'%}">Home</a>
      <a href="#">Restaurant</a>
      <a href="{% url 'food'%}">Food</a>
      <a href="#">Contact Us</a>
      <div class="search-box">
        <input type="text" placeholder="Search products"/>
      </div>
    </div>
    <div class="cart-login">
      <span>🛒<sup>0</sup></span>
      <a href= "{% url 'login' %}"class="login-btn">Login</a>
     
    </div>
  </nav>

<section class="best-sellers">
  {% if category %}
    <h2 style="color: black;"> {{ category.name }}</h2>
  {% else %}
    <h2>All Food Items</h2>
  {% endif %}

  <div class="product-grid">
    {% for food in foods %}
    <a class="ln" href="{% url 'singlepage' food.pk %}">
      <div class="card">
        <img src="{{food.image1.url}}" alt="food">
        <small> {{food.category}} </small>
        <h6>{{food.name}} </h6>
        <div class="product-rating">★★★★☆ <span>(4)</span></div>
        <div class="price-row">
          <span class="new-price">{{ food.offer_price }} birr </span>
          <span class="old-price"> {{ food.product_price }} birr</span>
        </div>
        <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button>
      </div>
    </a>
    {% empty %}
      <p>No products available in this category.</p>
    {% endfor %}
  </div>
</section>


<!-- Footer -->
<footer class="footer">
  <div class="footer-container">

    <div class="footer-column company">
      <h3>Food Delivery</h3>
      <p class="tagline">"We deliver fresh Foods straight to your door."</p>
      <p class="desc">Trusted by thousands to make delivery easy and affordable.</p>
    </div>

    <div class="footer-column links">
      <h4>Quick Links</h4>
      <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
         <li><a href="#">Food</a></li>
        <li><a href="#">Restourant</a></li>
        <li><a href="#">Contact Us</a></li>
       
        <li><a href="#"></a></li>
      </ul>
    </div>

    <div class="footer-column help">
      <h4>Need Help?</h4>
      <ul>
        <li><a href="#">Delivery Information</a></li>
        <li><a href="#">Return & Refund Policy</a></li>
        <li><a href="#">Payment Methods</a></li>
        <li><a href="#">Track your Order</a></li>
        <li><a href="#">Contact Us</a></li>
      </ul>
    </div>

   <div class="social-links">
  <a href="#" class="social-icon"><i class="fab fa-instagram"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-facebook-f"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-twitter"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-whatsapp"></i></a>
  <a href="#" class="social-icon"><i class="fab fa-youtube"></i></a>
</div>



  </div>

  <div class="footer-bottom">
    <p> &copy; 2025 Food Delivery. All rights reserved.</p>
  </div>
</footer>

</body>
</html>
