{% extends 'base.html' %}
{% block title %}Food Menu{% endblock %}
{% block content %}

{% load static %}



<section class="best-sellers">
  <div class="product-grid">
    {% for food in foods %}
      <a class="ln" href="{% url 'singlepage' food.pk %}">
        <div class="card">
          <img src="{{food.image1.url}}" alt="food">
          <small> {{food.category}} </small>
          <h6>{{food.name}} </h6>
          <div class="product-rating">★★★★☆ <span>(4)</span></div>
          <div class="price-row">
            <span class="new-price">{{ food.offer_price }} birr </span>
            <span class="old-price"> {{ food.product_price }} birr</span>
          </div>
          <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button>
        </div>
      </a>
    {% endfor %}  
  </div>
</section>

{% endblock %}