{% extends "base.html" %}

{% block content %}
{% load static %}
  <!-- Hero Section -->
  <section class="hero">
    <div class="hero-text">
      <h1>Most Fastest Food Delivery Services</h1>
      <h2>Get the best quality food in Addis Ababa</h2>
      <div class="hero-buttons">
        <button class="shop-now"> <a href="{%url 'food'%}"> Order Now </a></button>
        <button class="explore-btn">  <a href="{%url 'restaurant'%}">  Explore Resturants  </a> →</button>
      </div>
    </div>
    <div class="hero-img">
      <img src="{% static 'images/hero.png' %}" alt="hero ">
    </div> 
  </section>

<!-- Popular Restaurants Section -->
<section class="restaurants">
  
  <h2>Popular Category</h2>
  <div class="restaurant-grid">
    {% for category in categories %}
    <a class="ln" href="{% url 'food_by_category' category.id %}">
        <div class="restaurant-card">
            <img src="{% static category.image.url %}" alt="{{ category.name }}">
            <h4> {{category.name}} </h4>
        </div>
    </a>
   {% endfor %}
  </div>
</section>



<!-- Best Sellers Section -->
<section class="best-sellers">
  <h2>Most Ordered Foods </h2>

  <div class="product-grid">
    {% for food in foods %}
    <a class="ln" href="{% url 'singlepage' food.pk %}">
      <div class="card">
        <img src="{{food.image1.url}}" alt="food">
        <small> {{food.category}} </small>
        <h6>{{food.name}} </h6>
        <div class="product-rating">★★★★☆ <span>(4)</span></div>
        <div class="price-row">
          <span class="new-price">{{ food.offer_price }} birr </span>
          <span class="old-price"> {{ food.product_price }} birr</span>
        </div>
        <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button>
      </div>
    </a>
    {% endfor %}
  </div>
</section>

<section class="best-sellers">
  <h2>Most Featured Restaurants</h2>

  <div class="product-grid">
    {% for restaurant in restaurants %}
    <div class="product-card">
      <img src="{{restaurant.image.url}}" alt="Yod Abyssinia Restaurant">
      <small>{{restaurant.name}}</small>
      <h6>{{restaurant.address}}</h6>
      <div class="product-rating">★★★★★ <span>(4.9)</span></div>
      <div class="price-row">
          <span class="new-price">Open: {{ restaurant.open_time|time:"g:i A" }} - {{ restaurant.close_time|time:"g:i A" }}</span>
      </div>
         <button class="add-to-cart" onclick="location.href='{% url 'rest_details' restaurant.pk %}';"><i class="fa fa-map-marker-alt"></i> View</button>
     </div>
    {% endfor %}
  </div>
</section>


  <!-- Why We Are the Best Section -->
<section class="why-best">
  <h2>Why We Are the Best</h2>
  <div class="best-features">
    <div class="feature-box">
      <h3>🚀 Fastest Delivery</h3>
      <p>Foods delivered in under 30 minutes.</p>
    </div>
    <div class="feature-box">
      <h3>🥬 Freshness Guaranteed</h3>
      <p>Fresh produce straight from your prefered Restaurant.</p>
    </div>
    <div class="feature-box">
      <h3>💰 Affordable Prices</h3>
      <p>We deliver at unbeatable prices.</p>
    </div>
    <div class="feature-box">
      <h3>👍 Trusted by Thousands</h3>
      <p>Significant customer satisfaction.</p>
    </div>
  </div>
</section>


  
 <!-- Newsletter Section -->
<section class="newsletter-section">
  <div class="newsletter-content">
    <h3>"Never Miss a Deal!"</h3>
    <p>Subscribe to get the latest offers, new arrivals, and exclusive discounts.</p>
    <form class="newsletter-form">
      <input type="email" placeholder="Enter your email" required />
      <button type="submit">Subscribe</button>
    </form>
  </div>
</section>

<!-- Footer Starts Below -->



{% endblock %}