{% extends "base.html" %}
{% block content %}
<div class="modal-bg">
  <form class="auth-form" method="POST">
    {% csrf_token %}
    <h2>User <span>Login</span></h2>
    {% if messages %}
      {% for message in messages %}
        <div class="error-msg">{{ message }}</div>
      {% endfor %}
    {% endif %}
    <input type="email" name="email" placeholder="Email" required>
    <input type="password" name="password" placeholder="Password" required>
    <p>Don't have an account? <a href="{% url 'register' %}">Click here</a></p>
    <button type="submit">Login</button>
  </form>
</div>
{% endblock %}
