{% extends "base.html" %}
{% block content %}
{% load static %}

<section class="restaurant-list">
  <h2>Top Rated Restaurants</h2>
  <div class="product-grid">

    {% for restaurant in restaurants %}
    <div class="product-card">
      <img src="{{ restaurant.image.url }}" alt="{{ restaurant.name }}">
      <small>{{ restaurant.discription|truncatewords:4 }}</small>
      <h6>{{ restaurant.name }}</h6>
      <div class="product-rating">★★★★☆ <span>(4.7)</span></div> <!-- Example rating -->
      <div class="price-row">
        <span class="new-price">Open: {{ restaurant.open_time|time:"g:i A" }} - {{ restaurant.close_time|time:"g:i A" }}</span>
      </div> 
        <button class="add-to-cart" onclick="location.href='{% url 'rest_details' restaurant.pk %}'">
          <i class="fa fa-map-marker-alt"></i> View
        </button>

      </div>
    {% endfor %}

  </div>
</section>

{% endblock %}