
{% extends "base.html" %}

{% block content %}
{% load static %}

<section class="restaurant-detail" style="margin: 30px;">

  <!-- Restaurant Header -->
  <div class="restaurant-header">
    <img src="{{restaurant.image.url}}" style="height: 250px" alt="Yod Abyssinia" class="restaurant-banner">

    <div class="restaurant-info">
      <h2>{{restaurant.name}}</h2>
      <p>{{restaurant.discription}}</p>
      <div class="restaurant-meta">
        <span>⭐ 4.9 (120 reviews)</span>
        <span>📍 {{restaurant.address}}</span>
        <span class="new-price">Open: {{ restaurant.open_time|time:"g:i A" }} - {{ restaurant.close_time|time:"g:i A" }}</span>
      </div>
    </div>
  </div>

  <!-- Menu Header -->
  <h3 class="restaurant-menu-title" style="text-align: center; padding-bottom:10px;">Available Dishes</h3>

  <!-- Dish List -->
  <div class="product-grid">
    {% for food in foods %}
    <a class="ln" href="{% url 'singlepage' food.pk %}">
      <div class="card">
        <img src="{{food.image1.url}}" alt="food">
        <small> {{food.category}} </small>
        <h6>{{food.name}} </h6>
        <div class="product-rating">★★★★☆ <span>(4)</span></div>
        <div class="price-row">
          <span class="new-price">{{ product.offer_price }} birr </span>
          <span class="old-price"> {{ product.product_price }} birr</span>
        </div>
        <button class="add-to-cart"><i class="fa fa-shopping-cart"></i> Add</button>
      </div>
    </a>
    {% endfor %}
  </div>

</section>


{% endblock %}